body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

header {
    border-bottom: 2px solid #ccc;
}

h1 {
    text-align: center;
}


ul {
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}


nav>ul>li>a {
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    color: #000;
}

nav ul li a:hover {
    color: dimgrey;
}

#banner {
    width: 100%;
    height: 77vh;
    background-image: url('../img/jane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer p {
    padding: 10px;
    margin: 0px;
    background-color: #f2f2f2;
    text-align: center;
}

/* página about  */
#about {
    text-align: center;
}


.about-img img {
    width: 300px;
}

/* página music */
#music {
    width: 900px;
    margin: 0 auto;
}

#music ul li {
    text-align: initial;
}

/* Página contact */
#contact {
    width: 900px;
    margin: 0 auto;
}

/* Home v2 */
#concept, #songs, #contact{
    width: 900px;
    margin: 30px auto;
}

#songs img{
    width: 100%;
}

.duas-colunas>div {
    width: 50%;
    float: left;
}

.duas-colunas {
    overflow: hidden;
}

#songs ol li {
    padding: 15px 0;
}

#songs ol li strong {
    color: orange;
}

#form-mapa iframe {
    width: 100%;
    height: 400px;
    padding-left: 20px;
}

#form-mapa input[type="text"], textarea {
    width: 100%;
    margin: 2px 0 10px;
    padding: 5px;
}

form textarea{
    resize: none;
    height: 100px;
}
form .form-group {
    margin: 0 0 10px;
}

#btn {
    border: 0px;
    background-color: orange;
    color: #fff;
    padding: 5px 20px;
}

